include ../../form-elements/rate-button/rate-button

mixin room-preview(slide1, slide2, slide3, slide4, room, lux, price, rating, comments)
    .room-preview
        div(class="room-preview__carousel")
            .room-preview__img_1
                img(src=slide1 alt="Фото 1")
            .room-preview__img_2
                img(src=slide2 alt="Фото 2")
            .room-preview__img_3
                img(src=slide3 alt="Фото 3")
            .room-preview__img_4
                img(src=slide4 alt="Фото 4")
        .room-preview__info_1
            .room-preview__room
                span.room-preview__symbol № 
                span.room-preview__number= room
                if (lux)
                    span.room-preview__type люкс
            .room-preview__price
                span.room-preview__rubles= price
                span.room-preview__rubles ₽
                span.room-preview__period в сутки
        .room-preview__separator
        .room-preview__info_2
            .room-preview__rating
                +rate-button(rating)
            .room-preview__comments
                span.room-preview__comments_count= comments
                span.room-preview__comments_label Отзывов

