mixin date-dropdown(label="Date dropdown", content="", icon='keyboard_arrow_down')
    .date-dropdown
        label(class="date-dropdown__label")= label
        .date-dropdown__box
            input(type="text"
                  value= content
                  class="date-dropdown__input datepicker-here"
                  data-date-format="dd.mm.yyyy")
            .date-dropdown__arrow= icon